@tailwind base;
@tailwind components;
@tailwind utilities;


.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }

  .donegal-one-regular {
    font-family: "Donegal One";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
  }

  .dm-sans-unqiue {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 15.62px;
  }

  .dm-sans-unqiue1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 9px;
    line-height: 11.72px;
  }

  .dm-serif-text-regular-italic-match {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color:#000000B2;
    font-size:18px;
    line-height: 24.68px;
  }

  
  .dm-sans-footer {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8px;
    line-height: 10.42px;
    align-items: center;
    color:#FFFFFF66;;
    width: 100px;
    height: 10px;
    margin-top: -26px;
    margin-left: 134px;
    gap: 0px;
    position: absolute;
  
  }

  .inter-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:14px;
    line-height: 16.94px;
    letter-spacing: -2%;
  }

.inter-tags{
  font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 12.1px;
letter-spacing: -0.02em;
text-align: left;
  }

.inter-span{
  font-family: Inter;
font-size: 10px;
font-weight: 600;
line-height: 12.1px;
letter-spacing: -0.02em;
text-align: left;

}

.inter-chai{
  font-family: Inter;
font-size: 10px;
font-weight: 600;
line-height: 12.1px;
letter-spacing: -0.02em;
text-align: center;
color:#FFFFFF66;
}

.dm-sans-cats-title{
font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 36.46px;
letter-spacing: -0.04em;

}
  


.dm-sans-cats-desc {
  max-height: calc(1.2em * 3); /* Set the max height based on the number of lines (1.2em is line-height) */
  line-height: 1.11rem; /* Adjust the line-height */
  overflow: hidden;
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-family: 400;
  font-size: 14px;
  letter-spacing:-4%
}

.dm-sans-cats-desc::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background: white; /* Match background color */
  padding-left: 10px;
}

.dm-sans-cats-origin{
  font-family: DM Sans;
font-size: 14px;
font-style: italic;
font-weight: 600;
line-height: 18.23px;
letter-spacing: -0.04em;
text-align: left;

}


  

  
  